* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Playfair;
    line-height: 1;
}

body {
    background-color: #f5f6f8;
    overflow: hidden;

}

.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #313443;
    float: left;
}

    .sidebar-navigation ul {
        text-align: center;
        color: white;
    }

        .sidebar-navigation ul li {
            padding: 28px 0;
            cursor: pointer;
            transition: all ease-out 120ms;
        }

            .sidebar-navigation ul li i {
                display: block;
                font-size: 24px;
                transition: all ease 450ms;
            }

            .sidebar-navigation ul li .tooltip {
                display: inline-block;
                position: absolute;
                background-color: #313443;
                padding: 8px 15px;
                border-radius: 3px;
                margin-top: -26px;
                left: 90px;
                opacity: 0;
                visibility: hidden;
                font-size: 13px;
                letter-spacing: 0.5px;
            }

                .sidebar-navigation ul li .tooltip:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -4px;
                    top: 10px;
                    transform: rotate(45deg);
                    width: 10px;
                    height: 10px;
                    background-color: inherit;
                }

            .sidebar-navigation ul li.b:hover {
                background-color: #22252e;
            }

                .sidebar-navigation ul li.b:hover .tooltip {
                    visibility: visible;
                    opacity: 1;
                }

            .sidebar-navigation ul li.active {
                background-color: #22252e;
            }

                .sidebar-navigation ul li.active i {
                    color: #98d7ec;
                }
h2 {
    font-size: 20px;
    margin: 25px 0 10px 0;
    text-align: center;
}

    h2 small {
        font-size: 0.5em;
    }

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.responsive-table .table-header {
    background-color: #313443;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
}

.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 40%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 25%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .col {
        flex-basis: 100%;
    }

    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }

        .responsive-table .col:before {
            color: #6c7a89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
        }
}

.a:hover {
  text-decoration:underline;
}
.myimg {
    height: 30vh;
    padding: 1vh;
}

.price {
    /*float: right;
    align-self: flex-end;*/
    font-size: 2.5vh;
    /*text-align:right;*/
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3vh;
    color:white;
}

    .name:hover {
        overflow: visible;
        white-space: initial;
    }

.maincard {
    /*width: 100% !important;*/
    /*  height: 30%;*/
    /*margin: 1vh;*/
    display: inline-flex;
    position:initial;
}

.mycardcol {
    column-count: 3 !important;
    border-radius: 3vh;
    text-align: center;

}


.info p {
    text-align: center;
    color: #999;
    text-transform: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2px
}

.info i {
    color: #F6AA93;
}

form h1 {
    font-size: 18px;
    background: #313443 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align: center;
}

form {
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color: #333;
}

h1 .formh1 {
    text-align: center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin: 50px 0px 0px 0px
}

input.c ,select{
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
   
    width: 90%;
    height: 42px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration: inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 90%;
    height: 42px;
    float: left;
    padding: 10px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 42px;
    position: relative;
    text-align: center;
    line-height: 40px;
}

i.icon {
    color: #555;
}

.contentform {
    padding: 10px 30px;
}

.bouton-contact {
   
    color: #FFF;
    text-align: center;
    width: 100%;
    border: 0;
    padding: 15px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}
    .bouton-contact:disabled {
        color: #FFF;
        background:gray;
        text-align: center;
        width: 100%;
        border: 0;
        padding: 15px 25px;
        border-radius: 0px 0px 5px 5px;
        cursor: none;
        margin-top: 20px;
        font-size: 18px;
    }
    .leftcontact {
    width: 99%;
    float: left;
    /*border-right: 1px dotted #CCC;*/
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}



#sendmessage {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

    #sendmessage.show, .show {
        display: block;
    }

.scrollable {
 height:80vh;
 overflow-y:scroll;
}
.clickable:hover {
font-weight:bolder;
color:green;
}
ul[dnd-list] .dndDraggingSource {
    display: none;
}
ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}
ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
ul[dnd-list] {
    min-height: 42px;
}